## Q) 문자열 함수 중 replace 함수와 split 함수를 이용하여 str1문자열을 str_lilst로 바꿔보세요.


### 문제

str1 = 'one to two to three to four'<br>
str_list = ['1', '2', '3', '4']

In [6]:
str1 = 'one to two to three to four'
str1.replace('one', '1').replace('two', '2').replace('three', '3').replace('four', '4').split('to')

['1 ', ' 2 ', ' 3 ', ' 4']